<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harang.mapper.ajax-mapper">
  
  	<select id="menuinfo" parameterType="String" resultType="Food">
  		SELECT f_selldate, f_title, f_num, f_point, f_content FROM tbl_food where f_num = #{f_num}
  	</select>
  
  </mapper>
    