<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harang.mapper.food-mapper">
  
  	<insert id="insertFood" parameterType="Food">
  		INSERT INTO tbl_food (f_point, f_title, f_content, f_selldate, f_num) VALUES (#{f_point}, #{f_title}, #{f_content}, #{f_selldate}, '')
  	</insert>
  
  	<delete id="deleteFood" parameterType="Food">
  		DELETE FROM tbl_food WHERE f_num = #{f_num}
  	</delete>	
  
  	<update id="updateFood" parameterType="Food">
  		UPDATE tbl_food SET f_point = #{f_point}, f_title = #{f_title}, f_content = #{f_content} WHERE f_num = #{f_num}
  	</update>
  	<!-- ajax -->
  	<select id="afoodinfoJson" parameterType="String" resultType="Food">
  		SELECT f_selldate, f_title, f_num, f_point, f_content FROM tbl_food where f_num = #{f_num}
  	</select>

	<select id="aticketList" parameterType="SearchCriteria" resultType="FoodMember">
		select f.f_title, f.f_selldate, f.f_point, count(fm.f_num) as fm_sellcount 
		from tbl_food_member fm, tbl_food f 
		where fm.f_num=f.f_num and fm.fm_isuse != 'return' 
		<include refid="search"></include>
		group by fm.f_num 
		order by f.f_selldate desc 
		limit #{pageStart}, #{perPageNum} 
	</select>
	
	<sql id="search">
		<if test="keyfield != null">
			<if test="keyfield == 'f_selldate'.toString()">
				and f.f_selldate like concat('%', #{keyword}, '%') 
			</if>		
			<if test="keyfield == 'f_title'.toString()">
				and f.f_title like concat('%', #{keyword}, '%') 
			</if>		
			<if test="keyfield == 'f_point'.toString()">
				and f.f_point like concat('%', #{keyword}, '%') 
			</if>		
			<if test="keyfield == 'fm_sellcount'.toString()">
				and fm.fm_sellcount like concat('%', #{keyword}, '%') 
			</if>		
		</if>
	</sql>	
	
	<select id="aticketListChart" resultType="FoodMember" parameterType="SearchCriteria">
		select f.f_title, f.f_selldate, f.f_point, count(fm.f_num) as fm_sellcount 
		from tbl_food_member fm, tbl_food f 
		where fm.f_num=f.f_num and fm.fm_isuse != 'return' 
		<include refid="search"></include>
		group by fm.f_num 
		order by f.f_selldate
		limit #{pageStart}, #{perPageNum} 
	</select>
	
	<select id="aticketCountPaging" resultType="int" parameterType="SearchCriteria">
		select count(distinct f.f_num) 
		from tbl_food_member fm, tbl_food f 
		where fm.f_num=f.f_num and fm.fm_isuse != 'return';
		<include refid="search"></include> 
	</select>
  
  	<insert id="insertTicket" parameterType="FoodMember">
  		INSERT INTO tbl_food_member (m_id, f_num, fm_isuse) VALUES (#{m_id}, #{f_num}, 'unuse')
  	</insert>
  	
  	<select id="ticketList" parameterType="SearchCriteria" resultType="FoodMember">
  		SELECT fm.fm_regdate, f.f_selldate, f.f_title, f.f_point, fm.fm_isuse, fm.fm_usedate, f.f_num 
		FROM tbl_food_member fm, tbl_food f 
		where f.f_num = fm.f_num and fm.m_id = #{m_id} 
		<include refid="search"></include>
		order by f.f_selldate desc 
		limit #{pageStart}, #{perPageNum} 
  	</select>
  	
  	<select id="ticketListPaging" resultType="int" parameterType="SearchCriteria">
		SELECT count(*) 
		FROM tbl_food_member fm, tbl_food f 
		where f.f_num = fm.f_num and fm.m_id = #{m_id} 
		<include refid="search"></include>
	</select>
	
	<select id="ticketPrint" resultType="FoodMember" parameterType="FoodMember">
		SELECT fm.fm_regdate, f.f_selldate, f.f_title, f.f_point, fm.fm_isuse, fm.fm_usedate, f.f_num, fm.m_id   
		FROM tbl_food_member fm, tbl_food f 
		where f.f_num = fm.f_num and fm.m_id = #{m_id} and f.f_num = #{f_num}
	</select>
	
	<update id="ticketUsing" parameterType="FoodMember">
		UPDATE tbl_food_member SET fm_isuse = 'used', fm_usedate = NOW() WHERE m_id = #{m_id} and f_num = #{f_num}
	</update>
	
	<update id="ticketRefund" parameterType="FoodMember">
		UPDATE tbl_food_member SET fm_isuse = 'return', fm_usedate = NOW() WHERE m_id = #{m_id} and f_num = #{f_num}
	</update>
	
	
  
  </mapper>