<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harang.mapper.food-mapper">
  
  	<insert id="insertFood" parameterType="Food">
  		INSERT INTO tbl_food (f_point, f_title, f_content, f_selldate, f_num) VALUES (#{f_point}, #{f_title}, #{f_content}, #{f_selldate}, '')
  	</insert>
  
  	<delete id="deleteFood" parameterType="Food">
  		DELETE FROM tbl_food WHERE f_num = #{f_num}
  	</delete>	
  
  	<update id="updateFood" parameterType="Food">
  		UPDATE tbl_food SET f_point = #{f_point}, f_title = #{f_title}, f_content = #{f_content} WHERE f_num = #{f_num}
  	</update>
  	<!-- ajax -->
  	<select id="afoodinfoJson" parameterType="String" resultType="Food">
  		SELECT f_selldate, f_title, f_num, f_point, f_content FROM tbl_food where f_num = #{f_num}
  	</select>

	<select id="aticketList" parameterType="SearchCriteria" resultType="FoodMember">
		select f.f_title, f.f_selldate, f.f_point, count(fm.f_num) as fm_sellcount 
		from tbl_food_member fm, tbl_food f 
		where fm.f_num=f.f_num and fm.fm_isuse != 'return' 
		<include refid="search"></include>
		group by fm.f_num 
		order by f.f_selldate desc 
		limit #{pageStart}, #{perPageNum} 
	</select>
	
	<sql id="search">
		<if test="keyfield != null">
			<if test="keyfield == 'f_selldate'.toString()">
				and f.f_selldate like concat('%', #{keyword}, '%') 
			</if>		
			<if test="keyfield == 'f_title'.toString()">
				and f.f_title like concat('%', #{keyword}, '%') 
			</if>		
			<if test="keyfield == 'f_point'.toString()">
				and f.f_point like concat('%', #{keyword}, '%') 
			</if>		
			<if test="keyfield == 'fm_sellcount'.toString()">
				and fm.fm_sellcount like concat('%', #{keyword}, '%') 
			</if>		
		</if>
	</sql>	
	
	<select id="aticketCountPaging" resultType="int">
		select count(distinct f.f_num) 
		from tbl_food_member fm, tbl_food f 
		where fm.f_num=f.f_num and fm.fm_isuse != 'return'; 
	</select>
  
  </mapper>