<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harang.mapper.message-mapper">
  	<!-- 회원 정보를 검색 -->
  	<select id="getMember" resultType="Member">
  		select * from tbl_member where m_id = #{m_id}
  	</select>
  	
  	<!-- 회원이름으로 회원번호를 검색 -->
  	<select id="getMember_id" parameterType="String" resultType="String">
  		select m_id from tbl_member where m_name like concat('%',#{m_name},'%')
  	</select>
  	
  	<!-- 메시지를 보내기 -->
  	<insert id="postMessage" parameterType="Message">
  		INSERT INTO tbl_text(t_title, t_content, t_send_del, t_read_del, m_sender, m_reader) 
  		VALUES(#{t_title}, #{t_content}, 'N', 'N', #{m_sender}, #{m_reader})
  	</insert>
	
	<!-- 받은 메시지를 모두 검색 -->
	<select id="getGivenMessageList" resultType="Message">
		SELECT * ,
		(select m_name from tbl_member where m_id = m_sender) as m_sender_name
		FROM tbl_text 
		WHERE m_reader=#{m_id} AND NOT m_sender=#{m_id} AND t_read_del = 'N' 
		<include refid="searchMessage"></include> 
		ORDER BY t_send_date DESC 
		limit #{pageStart}, #{perPageNum} 
	</select>
	<!-- 받은 메시지를 모두 페이징 -->
	<select id="getGivenMessageListCount" resultType="int">
		SELECT count(*) FROM tbl_text WHERE m_reader=#{m_id} AND NOT m_sender=#{m_id} AND t_read_del = 'N'
		<include refid="searchMessage"></include> 
	</select>
	
	<!-- 보낸 메시지를 모두 검색 -->
	<select id="getSentMessageList" resultType="Message">
		SELECT * , 
		(select m_name from tbl_member where m_id = m_reader) as m_reader_name
		FROM tbl_text WHERE m_sender=#{m_id} AND NOT m_reader=#{m_id} AND t_send_del = 'N' 
		<include refid="searchMessage"></include>
		ORDER BY t_send_date DESC 
		limit #{pageStart}, #{perPageNum} 
	</select>
	<!-- 보낸 메시지를 모두 페이징 -->
	<select id="getSentMessageListCount" resultType="int">
		SELECT count(*) FROM tbl_text WHERE m_sender=#{m_id} AND NOT m_reader=#{m_id} AND t_send_del = 'N' 
		<include refid="searchMessage"></include>
	</select>
	
	<!-- 내게 쓴 메시지를 모두 검색 -->
	<select id="getToMeMessageList" resultType="Message">
		SELECT * FROM tbl_text WHERE m_reader=#{m_id} AND m_sender =#{m_id} 
		<include refid="searchMessage"></include>
		ORDER BY t_send_date DESC 
		limit #{pageStart}, #{perPageNum} 
	</select>
	<!-- 내게 쓴 메시지를 모두 페이징 -->
	<select id="getToMeMessageListCount" resultType="int">
		SELECT count(*) FROM tbl_text WHERE m_reader=#{m_id} AND m_sender =#{m_id}
		ORDER BY t_send_date DESC 
		<include refid="searchMessage"></include>
	</select>
	<!-- 메세지 통합 검색 -->
	<sql id="searchMessage">
		<if test="keyfield != null">
  			<if test="keyfield == 'm_sender'.toString()">
  				and m_sender like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 't_title'.toString()">
  				and t_title like concat('%', #{keyword}, '%') 
  			</if>
  		</if>
	</sql>
	
	<!-- 메시지 번호로 메시지를 검색 -->
	<select id="getMessage" resultType="Message">
		SELECT * FROM tbl_text WHERE t_num = #{t_num}
	</select>
	
	<!-- 보낸 사람이 삭제하지 않았을 때 받은 메시지를 삭제하기 -->
	<update id="deleteGivenMessage_first">
		UPDATE tbl_text SET t_read_del = 'Y' WHERE t_num=#{t_num}
	</update>
	
	<!-- 받은 사람이 삭제하지 않았을 때 보낸 메시지를 삭제하기 -->
	<update id="deleteSentMessage_first">
		UPDATE tbl_text SET t_send_del = 'Y' WHERE t_num=#{t_num}
	</update>
	
	<!-- 메시지를 삭제 -->
	<delete id="deleteMessage">
		DELETE FROM tbl_text WHERE t_num=#{t_num}
	</delete>
	
	<!-- 메시지를 읽은 시간을 저장 -->
	<update id="readMessage">
		UPDATE tbl_text SET t_read_date=NOW() WHERE t_num=#{t_num}
	</update>
	
	<!-- 아직 읽지 않은 메시지의 개수를 검색 -->
	<select id="getNotReadMessage" resultType="int">
		SELECT count(t_num) FROM tbl_text WHERE m_reader = #{m_reader} 
		AND t_read_date is null AND NOT m_sender = #{m_sender}
	</select>
	
	<!-- 아직 읽지 않은 내게 보낸 메시지의 개수를 검색 -->
	<select id="getNotReadMessage_toMe" resultType="int">
		SELECT count(t_num) FROM tbl_text WHERE m_reader = #{m_reader} 
		AND t_read_date is null AND m_sender = #{m_sender}
	</select>
	
    <!-- 받은 메시지를 상위 5개 만 뽑아서 검색 -->
	<select id="getGivenMessageListHeader" resultType="Message">
		SELECT t_num, t_title, t_send_date, m_sender,
		(select m_photo from tbl_member where m_id = m_sender) as s_photo, 
		(select m_name from tbl_member where m_id = m_sender) as m_sender_name
		FROM tbl_text 
		WHERE m_reader=#{m_id} AND NOT m_sender=#{m_id} AND t_read_del = 'N' 
		ORDER BY t_send_date DESC 
		limit 5
	</select>
	
  </mapper>
    