<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harang.mapper.mypage-mapper">
  
  	<!-- [mypage] 포인트 페이징 : 헤더에 사용 할까함. -->
  	<select id="pointListHeader" parameterType="String" resultType="Record">
  		select r_regdate, r_content, r_point, m_giver, m_haver, 
  		(select m_name from tbl_member where m_id = m_giver) as m_givername, 
  		(select m_name from tbl_member where m_id = m_haver) as m_havername  
  		from tbl_record where m_giver = #{m_id} or  m_haver = #{m_id} order by r_regdate desc 
  		limit 5 
  	</select>
  	
  	<!-- [mypage] 포인트 페이징 : 페이징 검색까지 다되는 모든것. -->
  	<select id="pointListSearch" parameterType="SearchCriteria" resultType="Record">
  		select r_regdate, r_content, r_point, m_giver, m_haver, 
  		(select m_name from tbl_member where m_id = m_giver) as m_givername, 
  		(select m_name from tbl_member where m_id = m_haver) as m_havername  
  		from tbl_record where ( m_giver = #{m_id} or m_haver = #{m_id})  
  		<include refid="point_search"></include> 
  		order by r_regdate desc 
  		limit #{pageStart}, #{perPageNum} 
  	</select>
  	
  	<sql id="point_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'r_regdate'.toString()">
  				and r_regdate like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'r_content'.toString()">
  				and r_content like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'r_point'.toString()">
  				and r_point like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_givername'.toString()">
  				and m_giver like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_havername'.toString()">
  				and m_haver like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
  	
  	<!-- 포인트 페이징 총 수 -->
  	<select id="pointPagingNum" resultType="int" parameterType="String">
  		select count(r_regdate)	
  		from tbl_record 
  		where m_giver = #{m_id} or m_haver = #{m_id} 
  		<include refid="point_search"></include>
  	</select>
  	
  	<select id="pointPersonInfo" resultType="Member" parameterType="String">
  		select m_name, m_point, m_id from tbl_member where m_id = #{m_id}
  	</select>
  	
  	<!-- [mypage] 스펙 리스트 출력 -->
	<select id="specListMember" parameterType="SearchCriteria" resultType="CertiMember">
		select c.c_num, c.c_name, c.c_agency, c.c_point, cm.cm_iscomplete, cm.cm_completedate, cm.cm_regda1te, cm.cm_image 
		from tbl_certificate c left outer join tbl_certi_member cm on c.c_num = cm.c_num  and cm.m_id = #{m_id} 
		<include refid="spec_search"></include>
		order by c.c_num desc 
		limit #{pageStart}, #{perPageNum}
	</select>  	
  	<sql id="spec_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'c_num'.toString()">
  				where c.c_num like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'c_name'.toString()">
  				where c.c_name like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'c_agency'.toString()">
  				where c.c_agency like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_point'.toString()">
  				where c.c_point like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
  	
  	<!-- 페이지 카운팅 -->
  	<select id="specListCount" resultType="int" parameterType="String">
		select count(c.c_num) 
		from tbl_certificate c left outer join tbl_certi_member cm on c.c_num = cm.c_num  and cm.m_id = #{m_id} 	
  	</select>
  	
  	<!-- 내 정보 수정 -->
  	<select id="updateMyinfo" parameterType="Member">
  		UPDATE tbl_member SET m_mail = #{m_mail}, m_addr = #{m_addr}, m_tel = #{m_tel}, m_photo = #{m_photo} 
  		WHERE m_id = #{m_id}
  	</select>
  	<!-- 주소목록 : 시의 목록 출력 -->
  	<select id="sidoList" resultType="zip">
  		SELECT sido FROM tbl_zip group by sido
  	</select>
  	<!-- 주소목록 ajax : 구와 군검색 -->
  	<select id="gugunList" resultType="zip" parameterType="zip">
  		SELECT gugun FROM tbl_zip where sido = #{sido} group by gugun
  	</select>
  	<!-- 주소목록 ajax : 주소 전체 목록 출력 -->
  	<select id="dongList" resultType="zip" parameterType="zip">
  		SELECT sido, gugun, dong, bunji, zipcode FROM tbl_zip 
  		where sido = #{sido} and gugun = #{gugun} 
  		and dong like concat('%', #{dong}, '%') group by dong 
  	</select>  	
  	
  	<!-- 학비 포인트 감면 -->
  	<update id="pointZero" parameterType="Record">
  		UPDATE tbl_member SET m_fee = m_fee - #{r_point} WHERE m_id = #{m_giver}
  	</update>
  	
  	
  	<!-- 도전에 등록한 목록 출력 -->
  	<select id="achallengeList" resultType="CertiMember" parameterType="SearchCriteria">
  		SELECT m.m_id, m.m_name, m.m_dept, c.c_name, c.c_point, cm.cm_regdate, 
		cm.cm_image, cm.cm_iscomplete, cm.cm_completedate, cm.c_num 
		from tbl_certificate c, tbl_certi_member cm, tbl_member m 
		where c.c_num = cm.c_num and cm.m_id = m.m_id 
		<include refid="achallenge_search"></include> 
		order by cm.cm_regdate desc 
		limit #{pageStart}, #{perPageNum}
  	</select>
  	<!-- 도전리스트 페이징 총수 -->
  	<select id="achallengePage" resultType="int" parameterType="SearchCriteria">
  		SELECT count(*) from tbl_certificate c, tbl_certi_member cm, tbl_member m 
		where c.c_num = cm.c_num and cm.m_id = m.m_id 
		<include refid="achallenge_search"></include> 
  	</select>
  	<!-- [회원] 스펙업 리스트 결과 조회 -->
  	<select id="uchallengeList" resultType="CertiMember" parameterType="SearchCriteria">
  		select c.c_num, c.c_name, c.c_agency, c.c_point, cm.cm_iscomplete, cm.cm_completedate, cm.cm_regdate, cm.cm_image 
		from tbl_certificate c left outer join tbl_certi_member cm on c.c_num = cm.c_num 
		and cm.m_id = #{m_id} 
  		<include refid="uchallenge_search"></include>
  		order by cm.cm_regdate desc 
		limit #{pageStart}, #{perPageNum}
  	</select>
  	<!-- [회원] 스펙업 리스트 페이징 -->
  	<select id="uchallengePage" resultType="int" parameterType="SearchCriteria">
  		select count(c.c_num) 
		from tbl_certificate c left outer join tbl_certi_member cm on c.c_num = cm.c_num 
		and cm.m_id = #{m_id} 
		<include refid="uchallenge_search"></include>
  	</select>
  	<!-- [회원 / 관리자] 스펙업 검색  -->
  	<sql id="achallenge_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'm_id'.toString()">
  				and m.m_id like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'm_name'.toString()">
  				and m.m_name like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'm_dept'.toString()">
  				and m.m_dept like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_name'.toString()">
  				and c.c_name like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_point'.toString()">
  				and c.c_point like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'cm_regdate'.toString()">
  				and cm.cm_regdate like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
  	<sql id="uchallenge_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'c_name'.toString()">
  				where c.c_name like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_agency'.toString()">
  				where c.c_agency like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_point'.toString()">
  				where c.c_point like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'cm_regdate'.toString()">
  				where cm.cm_regdate like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_num'.toString()">
  				where c.c_num like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
  	<!-- [회원] 스펙 등록 -->
  	<insert id="uchallenge_challenge" parameterType="CertiMember">
  		INSERT INTO  tbl_certi_member (c_num, m_id, cm_iscomplete, cm_image) 
  		VALUES (#{c_num}, #{m_id}, 'none', #{cm_image})
	</insert>
	<!-- [회원] 스팩 재등록 --> 
	<update id="uchallenge_rechallenge" parameterType="CertiMember">
		UPDATE tbl_certi_member SET cm_iscomplete='none', cm_completedate=NULL, cm_image= #{cm_image} 
		WHERE c_num=#{c_num} and m_id=#{m_id}
	</update> 
	<!-- [관리자] 자격증 목록 출력 / jqgrid -->
	<select id="specListJson" resultType="CertiMember" parameterType="SearchCriteria">
  		SELECT * FROM tbl_certificate 
  		<include refid="jspec_search"></include>
  		limit #{pageStart}, #{perPageNum} 
  	</select>
	<!-- [관리자] 자격증 목록 카운팅 / jqgrid -->
	<select id="specListJsonCount" resultType="int" parameterType="SearchCriteria">
  		SELECT count(*) FROM tbl_certificate 
  		<include refid="jspec_search"></include>
  	</select>
  	<!-- [관리자] 자격증 목록 검색 / jqgrid -->
  	<sql id="jspec_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'c_name'.toString()">
  				where c_name like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_agency'.toString()">
  				where c_agency like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_point'.toString()">
  				where c_point like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'c_num'.toString()">
  				where c_num like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
  	<!-- [관리자] 자격증 입력 추가 / jqgrid -->
  	<insert id="specInsert" parameterType="CertiMember">
  		insert into tbl_certificate(c_name,c_agency,c_point,c_num) values(#{c_name},#{c_agency},#{c_point},'')
  	</insert>
  	<!-- [관리자] 자격증 총괄 수정 / jqgrid -->
  	<update id="specUpdateAll" parameterType="CertiMember">
  		update tbl_certificate set c_name=#{c_name}, c_agency=#{c_agency}, c_point=#{c_point} where c_num=#{c_num}
  	</update>
  	<!-- [관리자] 자격증 일부 수정 : 이름 / jqgrid  -->
  	<update id="specUpdateName" parameterType="CertiMember">
		update tbl_certificate set c_name=#{c_name} where c_num=#{c_num}  	
  	</update>
  	<!-- [관리자] 자격증 일부 수정 : 기관 / jqgrid  -->
	<update id="specUpdateAgency" parameterType="CertiMember">
  		update tbl_certificate set c_agency=#{c_agency} where c_num=#{c_num}  	
  	</update>  	
  	<!-- [관리자] 자격증 일부 수정 : 포인트 / jqgrid  -->
	<update id="specUpdatePoint" parameterType="CertiMember">
  		update tbl_certificate set c_point=#{c_point} where c_num=#{c_num}
  	</update>
  	<!-- [관리자] 자격증 일부 삭제 / jqgrid  -->
  	<delete id="specDelete" parameterType="CertiMember">
  		delete from tbl_certificate where c_num=#{c_num}
  	</delete>
  	
  	
  	
	<!-- [회원] 시간표 등록된 수업 목록 출력 -->
	<select id="timeTalbeLesson" resultType="Lesson" parameterType="SearchCriteria">
		SELECT l.l_num,l.l_time,l.l_day,l.l_name,l.l_teacher,l.l_grade,l.l_term,
	    l.l_credit,l.l_room,l.l_ismust,l.l_dept,t.m_id,t.tt_grade 
		from tbl_lesson l inner join tbl_timetable t 
		on l.l_num = t.l_num 
		and t.m_id = #{m_id} 
		and t.tt_grade = #{tt_grade} 
		and t.tt_term = #{tt_term}  
		order by l.l_num desc 
	</select>
	<!-- [회원] 시간표 등록할 수 있는 수업 목록 출력 [검색 + 페이징] -->
	<select id="lessonList" resultType="Lesson" parameterType="SearchCriteria">
		<![CDATA[SELECT l.l_num,l.l_time,l.l_day,l.l_name,l.l_teacher,l.l_grade,l.l_term, 
		l.l_credit,l.l_room,l.l_ismust,l.l_dept,t.m_id,t.tt_grade 
		from tbl_lesson l left outer join tbl_timetable t 
		on l.l_num = t.l_num 
		and t.m_id = #{m_id}  
		and t.tt_grade = #{tt_grade} 
		where l.l_grade <= #{tt_grade} and l.l_term = #{tt_term} ]]>
		<include refid="lesson_search"></include>
		<![CDATA[order by l.l_num desc 
		limit #{pageStart}, #{perPageNum} ]]>
	</select>
	<!-- 페이징 -->
	<select id="lessonCount" resultType="int" parameterType="SearchCriteria">
  		<![CDATA[SELECT count(*)
		from tbl_lesson l left outer join tbl_timetable t 
		on l.l_num = t.l_num 
		and t.m_id = #{m_id}   
		and t.tt_grade =  #{tt_grade} 
		where l.l_grade <= #{tt_grade} and l.l_term = #{tt_term} ]]>
		<include refid="lesson_search"></include>
  	</select>
	<sql id="lesson_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'l_dept'.toString()">
  				and l.l_dept like concat('%', #{keyword}, '%')  
  			</if>
  			<if test="keyfield == 'l_ismust'.toString()">
  				and l.l_ismust like concat('%', #{keyword}, '%')  
  			</if>
  			<if test="keyfield == 'l_name'.toString()">
  				and l.l_name like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_grade'.toString()">
  				and l.l_grade like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_time'.toString()">
  				and l.l_time like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_teacher'.toString()">
  				and l.l_teacher like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_room'.toString()">
  				and l.l_room like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_credit'.toString()">
  				and l.l_credit like concat('%', #{keyword}, '%') 
  			</if>
  		</if>
  	</sql>	
  	<!-- [회원] 시간표 등록  	-->
  	<insert id="enrollLesson" parameterType="Lesson">
  		INSERT INTO tbl_timetable (tt_grade, tt_term, m_id, l_num, tt_iscomplete)  
  		VALUES (#{tt_grade}, #{tt_term}, #{m_id}, #{l_num}, 'N') 
  	</insert>
  	<!-- [회원] 시간표 중복 검사 -->
  	<select id="enrollCheck" parameterType="Lesson" resultType="Lesson">
  		SELECT l.l_day, l.l_time  
		FROM tbl_lesson l, tbl_timetable tt  
		where tt.m_id = #{m_id} and tt.tt_grade = #{tt_grade} and tt.tt_term = #{tt_term} and tt.l_num = l.l_num
  	</select>
  	<!-- [회원] 시간표 삭제 -->
  	<delete id="deleteLesson" parameterType="Lesson">
  		DELETE FROM tbl_timetable WHERE l_num = #{l_num} and m_id = #{m_id} and tt_grade = #{tt_grade}
  	</delete>
  	<!-- [회원] 시간표 삭제 체크 -->
  	<select id="deletecheck" resultType="String" parameterType="Lesson">
  		select tt_iscomplete from tbl_timetable where m_id = #{m_id} and l_num = #{l_num} and tt_grade = #{tt_grade}
  	</select>
  	
  	<!-- [관리자] 수업 목록 출력 / jqgrid -->
  	<select id="aLessonList" resultType="Lesson"  parameterType="SearchCriteria">
  		SELECT l_num,l_time,l_day,l_name,l_teacher,l_grade,l_term,l_credit,l_room,l_ismust,l_dept 
  		from tbl_lesson 
  		<include refid="alesson_search"></include>
  		limit #{pageStart}, #{perPageNum} 
  	</select>
  	<!-- [관리자] 수업 목록 페이징 출력  / jqgrid -->
  	<select id="aLessonListCount" resultType="int" parameterType="SearchCriteria">
  		SELECT count(*)  
  		from tbl_lesson 
  		<include refid="alesson_search"></include>
  	</select>
  	<!-- [관리자] 수업목록 검색 트리  / jqgrid  -->
  	<sql id="alesson_search">
  		<if test="keyfield != null">
  			<if test="keyfield == 'l_dept'.toString()">
  				where l_dept like concat('%', #{keyword}, '%')  
  			</if>
  			<if test="keyfield == 'l_ismust'.toString()">
  				where l_ismust like concat('%', #{keyword}, '%')  
  			</if>
  			<if test="keyfield == 'l_name'.toString()">
  				where l_name like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_grade'.toString()">
  				where l_grade like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_time'.toString()">
  				where l_time like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_teacher'.toString()">
  				where l_teacher like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_room'.toString()">
  				where l_room like concat('%', #{keyword}, '%') 
  			</if>
  			<if test="keyfield == 'l_credit'.toString()">
  				where l_credit like concat('%', #{keyword}, '%') 
  			</if>
  		</if>
  	</sql>	
  	<!-- [관리자] 수업목록 수정 트리 셀  / jqgrid  -->
  	<update id="aLessonUpdateCell" parameterType="Lesson">
  		update tbl_lesson set 
  		<if test="cellName != null"> 
	  		<if test="cellName == 'l_name'.toString()">
	  			l_name=#{l_name} 
	  		</if>
	  		<if test="cellName == 'l_ismust'.toString()">
	  			l_ismust=#{l_ismust} 
	  		</if>
	  		<if test="cellName == 'l_dept'.toString()">
	  			l_dept=#{l_dept} 
	  		</if>
	  		<if test="cellName == 'l_grade'.toString()">
	  			l_grade=#{l_grade} 
	  		</if>
	  		<if test="cellName == 'l_term'.toString()">
	  			l_term=#{l_term} 
	  		</if>
	  		<if test="cellName == 'l_day'.toString()">
	  			l_day=#{l_day} 
	  		</if>
	  		<if test="cellName == 'l_time'.toString()">
	  			l_time=#{l_time} 
	  		</if>
	  		<if test="cellName == 'l_teacher'.toString()">
	  			l_teacher=#{l_teacher} 
	  		</if>
	  		<if test="cellName == 'l_room'.toString()">
	  			l_room=#{l_room} 
	  		</if>
	  		<if test="cellName == 'l_credit'.toString()">
	  			l_credit=#{l_credit} 
	  		</if>
	  	</if>
	  	<if test="cellName == null">
	  		l_name=#{l_name}, l_ismust=#{l_ismust}, l_dpet=#{l_dpet}, l_grade=#{l_grade}, l_term=#{l_term}, l_day=#{l_day}, 
	  		l_time=#{l_time}, l_teacher=#{l_teacher}, l_room=#{l_room}, l_credit=#{l_credit} 
	  	</if>
  		where l_num=#{l_num}  	
  	</update>
  	<!-- [관리자] 수업목록 삭제  / jqgrid  -->
  	<delete id="aLessonDelete" parameterType="Lesson">
  		delete from tbl_lesson where l_num=#{l_num}
  	</delete>
  	<!-- [관리자] 수업목록 추가  / jqgrid  -->
  	<insert id="aLessonInsert" parameterType="Lesson">
  		insert into tbl_lesson(l_name,l_ismust,l_dept,l_grade,l_term,l_day,l_time,l_teacher,l_room,l_credit,l_num) 
  		values (#{l_name},#{l_ismust},#{l_dept},#{l_grade},#{l_term},#{l_day},#{l_time},#{l_teacher},#{l_room},#{l_credit},'')
  	</insert>
  	<!-- [관리자] 수업목록 추가, 수강실목록, 교수 목록, 학과목록 추가 -->
  	<select id="l_roomList" resultType="Lesson">
  		select l_room from tbl_lesson group by l_room
  	</select>
  	<select id="l_deptList" resultType="Lesson">
  		select l_dept from tbl_lesson group by l_dept
  	</select>
  	<select id="l_teacherList" resultType="Lesson">
  		select l_teacher from tbl_lesson group by l_teacher
  	</select>
  	<!-- [관리자] 해당 시간표 검색 (강의실 기준) -->
  	<select id="findTimetableRoom" parameterType="Lesson" resultType="Lesson">
  		SELECT l_time,l_day,l_name,l_teacher,l_room,l_dept 
		from tbl_lesson 
		where l_room = #{l_room}
		and l_term = #{l_term}
  	</select>
  	<!-- [관리자] 해당 시간표 검색 (교수 기준) -->
  	<select id="findTimetableTeacher" parameterType="Lesson" resultType="Lesson">
  		SELECT l_time,l_day,l_name,l_teacher,l_room,l_dept 
		from tbl_lesson 
		where l_teacher = #{l_teacher} 
		and l_term = #{l_term} 
  	</select>
  	
  	<!-- [관리자] 포인트 멤버 목록 조회 -->
  	<select id="apointMember" resultType="Member" parameterType="SearchCriteria">
  		select m_id, m_name, m_dept, m_grade, m_point from tbl_member 
  		<include refid="apointMemberSearch"></include>
  		order by m_id desc 
  		limit #{pageStart}, #{perPageNum} 
  	</select>
  	<!-- [관리자] 포인트 멤버 목록 카운팅 -->
  	<select id="apointMemberCount" resultType="int" parameterType="SearchCriteria">
  		select count(*) from tbl_member 
  		<include refid="apointMemberSearch"></include>
  	</select>
  	<!-- [관리자] 포인트 멤버 목록 검색 -->
  	<sql id="apointMemberSearch">
  		<if test="keyfield != null">
  			<if test="keyfield == 'm_id'.toString()">
  				where m_id like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_name'.toString()">
  				where m_name like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_dept'.toString()">
  				where m_dept like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_grade'.toString()">
  				where m_grade like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_point'.toString()">
  				where m_point like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
	
	<!-- [관리자] 멤버 리스트 전부 불러 오기 jqgrid -->
	<select id="userList" resultType="Member">
		select * from tbl_member order by m_id desc
	</select>
	
	<!-- [관리자] 멤버 리스트 전부 불러 오기 -->
	<select id="memberList" resultType="Member" parameterType="SearchCriteria">
		select * from tbl_member 
		<include refid="memberSearch"></include>
		order by m_id desc 
		limit #{pageStart}, #{perPageNum} 
	</select>
	<select id="memberData" resultType="Member" parameterType="String">
		select * from tbl_member where m_id = #{m_id}
	</select>
		<!-- [관리자] 멤버 리스트 페이징 -->
	<select id="memberListCount" resultType="int" parameterType="SearchCriteria">
		select count(*) from tbl_member 
		<include refid="memberSearch"></include>
	</select>
	 <!-- [관리자] 멤버 리스트 목록 검색 -->
  	<sql id="memberSearch">
  		<if test="keyfield != null">
  			<if test="keyfield == 'm_id'.toString()">
  				where m_id like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_name'.toString()">
  				where m_name like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_dept'.toString()">
  				where m_dept like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_grade'.toString()">
  				where m_grade like concat('%', #{keyword}, '%')
  			</if>
  			<if test="keyfield == 'm_point'.toString()">
  				where m_point like concat('%', #{keyword}, '%')
  			</if>
  		</if>
  	</sql>
  	
  	<select id="newMemberNum" parameterType="String" resultType="String">
  		select max(m_id) as num3 from tbl_member where m_id like concat('%', #{num4}, '%')
  	</select>
  	
  	<insert id="addMemberInsert" parameterType="Member">
  		insert into tbl_member(m_name,m_id,m_dept,m_birth,m_pw) values(#{m_name},#{m_id},#{m_dept},#{m_birth},#{m_pw})
  	</insert>
  	
  </mapper>
    