<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis와 관련한 설정을 여기서 해준다~ 원래는. -->
<configuration>
	<!--typeAliases: 특정 클래스에 별명을 지정 가능, 짧게 쓸수 있음 -->
	<typeAliases>
		<typeAlias type="com.harang.web.domain.MemberDTO" alias="Member"/>
		<typeAlias type="com.harang.web.domain.LessonDTO" alias="Lesson"/>
		<typeAlias type="com.harang.web.domain.FoodDTO" alias="Food"/>
		<typeAlias type="com.harang.web.domain.CalanderDTO" alias="Calander"/>
		<typeAlias type="com.harang.web.domain.RecordDTO" alias="Record"/>
	</typeAliases>
	<!-- DB 드라이버 설정도 root-context.xml에서 한다 (Spring사용) -->
 	<!-- SQL맵퍼의 작업의 경로는 이제 root-context.xml파일에서 설정한다. -->
</configuration>